.fullscreenPrompt {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 10vh;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 10;   font-weight: 700;
}

.overlay {
    position: relative;
    background-color: transparent;
}
